 
 *{
    box-sizing: border-box;
 }

 .row{
    {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 200px;
      }
 }

 .column1{
    padding: 25px;
 }
 .column2 {
    padding: 25px;
 }
